<section class="my_account parallax">

  <!-- CONTAINER -->
  <div class="container">

    <div class="my_account_block clearfix">
      <div class="login">
        <div *ngIf="response != undefined && response.code == 0" class="alert alert-success">
          <strong>Success!</strong>
          <div *ngIf="redirection">Your registration has been confirmed , redirecting you in {{countDown}}</div>
          <div *ngIf="!redirection">{{response.message}}</div>
        </div>

        <div *ngIf="response != undefined && response.code != 0" class="alert alert-danger">
          <strong>Confirmation failed!</strong> {{response.message}}
        </div>

        <div *ngIf="response != undefined && response.code !== 0">
          <h2>Resend confirmation email</h2>
          <form class="login_form" [formGroup]="f" (ngSubmit)="resendConfirmation(f.value)">
           <div class="form-group" [ngClass]="{'has-error':!f.controls['email'].valid && f.controls['email'].touched}">
             <label for="email">Email</label>
             <input   type="text" name="email" id="email" formControlName="email"/>
             <span class="help-block" *ngIf="!f.controls['email'].valid && f.controls['email'].touched">
               <div class="alert alert-danger">Please provide a valid email</div>
             </span>
           </div>


            <div class="center"><input type="submit" class="btn" [ngClass] ="{'disabled':!f.valid}" value="Send confirmation"></div>
          </form>
        </div>

      </div>


    </div><!-- //CONTAINER -->
