<div *ngIf="selectedEvent == null">
  
<div class="title center" >
  <p>My Events</p>
</div>




<table  class="table type1">
  <tr style="background-color:lightblue; text-transform:uppercase">
    <th>Name</th>
    <th>Max places</th> 
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
    <th>Status</th>
    <th>Images</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let event of events">
    <td>{{event.name}}</td>
    <td>{{event.maxPlace}}</td> 
    <td>{{event.location}}</td>
    <td>{{event.start |date:'dd MMM'}}</td>
    <td>{{event.end |date:'dd MMM'}}</td>
    <td>{{event.statue}}</td>
    <td>{{event.image}}</td>
    <td>{{event.description}}</td>
    <td style="width:110px">
      <a style="padding:0;width:100px" class="btn btn-success"  (click)="selectEvent(event)">Update</a> <br><br>
      <a style="padding:0;width:100px" class="btn btn-success"  (click)="delete(event)">Delete</a> 
    </td>
  </tr>
  
</table>

<div class="center">
  <a class="btn  btn-success" style="text-align:center"  routerLink="/profile/event/add" >Add Event</a>
  </div>

</div>

<app-event-update  *ngIf="selectedEvent != null" [event] = "selectedEvent"></app-event-update>