<a [routerLink]="['show',event.id]">
  <a class="article_image" >
    <div class="article_date">{{ event.start|date:'dd MMM' }}<span></span></div>
    <img src="http://localhost:18080/SkiWorld-web/resources/events/{{event.id}}/{{event.images[0].fileName}}" alt="" />
  </a>
  <a class="article_title"  >{{event.name}}</a>
  <ul class="post_meta">
    <li><i class="fa fa-user"></i><a href="javascript:void(0);" ><i>{{event.host.login}}</i></a></li>
  </ul>
</a>
