<div class="title center" >
  <p>Add Event</p>
</div>


      <form  [formGroup]="form" (ngSubmit)="add(form.value)" >
            <div  class="form-group" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}"  >
              <label for="name" class="control-label">Event name<span class="color_red">*</span></label>
              <input class="form-control" type="text" formControlName="name" name="name" id="name" value="" placeholder="" />
              <span *ngIf="!form.controls['name'].valid && form.controls['name'].touched" class="help-block">
                <div class="alert alert-danger">Valid name is required !</div>
                </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!form.controls['maxPlace'].valid && form.controls['maxPlace'].touched}">
                <label for="maxPlace" class="control-label">Max place <span class="color_red">*</span></label>
                <input type="number" formControlName="maxPlace" name="name" value="" id="maxPlace" placeholder="" />
                <span *ngIf="!form.controls['maxPlace'].valid && form.controls['maxPlace'].touched" class="help-block">
                  <div class="alert alert-danger">Valid maxPlace is required !</div>
                  </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!form.controls['location'].valid && form.controls['location'].touched}">
                <label for="location" class="control-label">Location<span class="color_red">*</span></label>
                <input type="text" formControlName="location" name="name" value="" id="location" placeholder="" />
                <span *ngIf="!form.controls['location'].valid && form.controls['location'].touched" class="help-block">
                  <div class="alert alert-danger">Valid location is required !</div>
                  </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!form.controls['start'].valid && form.controls['start'].touched}">
                <label for="start" class="control-label">Start<span class="color_red">*</span></label>
                <date-picker formControlName="start"  id="start" [showClearButton]="false"   name="date"></date-picker>
                <span *ngIf="!form.controls['start'].valid && form.controls['start'].touched" class="help-block">
                  <div class="alert alert-danger">Valid start date is required !</div>
                  </span>              
              </div>
      
              <div class="form-group" [ngClass]="{'has-error':!form.controls['end'].valid && form.controls['end'].touched}">
                <label for="end" class="control-label">End</label>
                <date-picker formControlName="end"  id="end" [showClearButton]="false"   name="date"></date-picker>
                <span *ngIf="!form.controls['end'].valid && form.controls['end'].touched" class="help-block">
                  <div class="alert alert-danger">Valid end date is required !</div>
                  </span>
              </div>

              <div class="form-group" [ngClass]="{'has-error':!form.controls['statue'].valid && form.controls['statue'].touched}">
                  <label for="statue" class="control-label">Public/Private <span class="color_red">*</span></label>
                  <select formControlName="statue" id="statue" class="form-control">
                    <option value="0">Public</option>
                    <option value="1">Private</option>
                  </select>
                  <span *ngIf="!form.controls['statue'].valid && form.controls['statue'].touched" class="help-block">
                    <div class="alert alert-danger">Valid statue is required !</div>
                    </span>
              </div>

              <div class="form-group" [ngClass]="{'has-error':!form.controls['image'].valid && form.controls['image'].touched}">
                  <label for="image" class="control-label">Image<span class="color_red">*</span></label>
                  <input formControlName="image" id="image" (change)="loadfiles($event)" multiple  type="file" name="name" value="" placeholder="" />
                  <span *ngIf="!form.controls['image'].valid && form.controls['image'].touched" class="help-block">
                    <div class="alert alert-danger">Valid image is required !</div>
                    </span>
                                  
              </div>

              <hr class="clear">

            <div class="form-group" [ngClass]="{'has-error':!form.controls['description'].valid && form.controls['description'].touched}">
                <label for="description" class="control-label">Description<span class="color_red">*</span></label>
                <input formControlName="description" id="description" type="textarea" name="name" value="" placeholder="" />
                <span *ngIf="!form.controls['description'].valid && form.controls['description'].touched" class="help-block">
                  <div class="alert alert-danger">Valid description is required !</div>
                  </span>
            </div>

        <div class="clear"></div>

        <div class="checkout_form_note">All fields marked with (<span class="color_red">*</span>) are required</div>

        <div class="center"><input class="btn" [ngClass]="{'disabled':!form.valid }" type="submit" value="Register"></div>
      </form>