<section class="breadcrumb parallax margbot30"></section>

<section class="typography_block padbot40">

  <div class="container">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img *ngIf="userImage == null" src="../../../assets/images/avatar1.jpg" class="img-responsive img-rounded" alt="">
            <img *ngIf="userImage != null" src={{userImage}} class="img-responsive img-rounded" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{user.lastName}} {{user.firstName}}
            </div>

          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->

          <div class="profile-usermenu">
            <ul class="nav">
              <li role="presentation" routerLinkActive="active"><a routerLink="informations">My informations</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="security">Security</a></li>


              <!--user menu-->

              <li *ngIf="role == 'ROLE_USER'" role="presentation" routerLinkActive="active"><a routerLink="myevents">My events</a></li>

              <li *ngIf="role == 'ROLE_USER'" role="presentation" routerLinkActive="active"><a routerLink="myinvitations">My event invitations</a></li>
              <li *ngIf="role == 'ROLE_USER'" role="presentation" routerLinkActive="active"><a routerLink="myparticipations">My event participations</a></li>

              <!--agent menu-->

              <li *ngIf="role == 'ROLE_AGENT'" role="presentation" routerLinkActive="active"><a routerLink="adarequests">My Ad areas requests</a></li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9" style="padding-bottom: 5%;">
        <div class="profile-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container">-->


    <!--<div *ngIf="error" class="col-md-8 col-md-offet-2">-->
      <!--<div class="alert alert-danger">-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-xs-12 col-lg-3">-->
    <!--<div class="col-md-1 col-md-offset-1">-->
      <!--<img  src="../../../assets/images/avatar1.jpg" alt="" class="img-responsive img-rounded align-center">-->
    <!--</div>-->
      <!--<div class="title center"></div>-->
      <!--<ul class="nav nav-pills nav-stacked black-pills">-->
        <!--<li role="presentation" routerLinkActive="active"><a routerLink="informations">My informations</a></li>-->
        <!--<li role="presentation" routerLinkActive="active"><a routerLink="security">Security</a></li>-->


        <!--&lt;!&ndash;user menu&ndash;&gt;-->

        <!--<li *ngIf="role == 'ROLE_USER'" role="presentation" routerLinkActive="active"><a routerLink="myinvitations">My event invitations</a></li>-->
        <!--<li *ngIf="role == 'ROLE_USER'" role="presentation" routerLinkActive="active"><a routerLink="myparticipations">My event participations</a></li>-->

        <!--&lt;!&ndash;agent menu&ndash;&gt;-->

        <!--<li *ngIf="role == 'ROLE_AGENT'" role="presentation" routerLinkActive="active"><a routerLink="adarequests">My Ad areas requests</a></li>-->


      <!--</ul>-->
    <!--</div>-->

    <!--<div class="col-md-9 col-xs-12 col-lg-9 profile-container">-->

    <!--</div>-->


  <!--</div>-->
</section>
