<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->


<!-- PAGE HEADER -->
<section class="page_header">

  <!-- CONTAINER -->
  <div class="container border0 margbot0">
    <h3 class="pull-left"><b>Add Event</b></h3>

    <div class="pull-right">
      <a>Back shopping bag<i class="fa fa-angle-right"></i></a>
    </div>
  </div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->


<!-- CHECKOUT PAGE -->
<section class="checkout_page">

  <!-- CONTAINER -->
  <div class="container">

    <!-- CHECKOUT BLOCK -->
    <div class="checkout_block">


      <form class="checkout_form clearfix" [formGroup]="form" (ngSubmit)="add(form.value)" >

        <div class="checkout_form_input2 adress "  >
          <label>Job Offer Name<span class="color_red">*</span></label>
          <input type="text" formControlName="name" name="name" value="" placeholder="" />
        </div>

        <div class="checkout_form_input2 last adress">
          <label>Number Of Places <span class="color_red">*</span></label>
          <input type="text" formControlName="numberOfPlaces" name="name" value="" placeholder="" />
        </div>

        <div class="checkout_form_input3">
          <label>Salary<span class="color_red">*</span></label>
          <input type="text" formControlName="salary" name="name" value="" placeholder="" />
        </div>

        <div class="checkout_form_input2 adress">
          <label>Start Date<span class="color_red">*</span></label>
          <date-picker formControlName="startDate" [showClearButton]="false"   name="date"></date-picker>
        </div>

        <div class="checkout_form_input2 last adress">
          <label>End Date<span class="color_red">*</span></label>
          <date-picker formControlName="endDate" [showClearButton]="false"   name="date"></date-picker>
        </div>

        <div class="checkout_form_input2 adress">
          <label>Category<span class="color_red">*</span></label>
          <select formControlName="jobOfferCategory" class="form-control">
            <option value="0">Cours_Collectifs</option>
            <option value="1">Cours_Particuliers</option>
            <option value="1">Atelier_Technique</option>
          </select>
        </div>

        <hr class="clear">

        <div class="checkout_form_input3">
          <label>Description<span class="color_red">*</span></label>
          <input formControlName="description" type="textarea" name="name" value="" placeholder="" />
        </div>

        <div class="clear"></div>

        <div class="checkout_form_note">All fields marked with (<span class="color_red">*</span>) are required</div>

        <div class="center"><input class="btn" [ngClass]="{'disabled':!form.valid }" type="submit" value="Register"></div>
      </form>
    </div><!-- //CHECKOUT BLOCK -->
  </div><!-- //CONTAINER -->
</section><!-- //CHECKOUT PAGE -->
