<div *ngIf="doneLoading">
    <!-- BREADCRUMBS -->
    <section class="breadcrumb parallax margbot30"></section>
    <!-- //BREADCRUMBS -->

    <div *ngIf="error">
      error
    </div>


    <!-- PAGE HEADER -->
    <section class="page_header">

      <!-- CONTAINER -->
      <div class="container">
        <h3 class="pull-left"><b>Jobs</b></h3>

        <div class="pull-right">
          <a href="women.html" >Back to shop<i class="fa fa-angle-right"></i></a>
        </div>
      </div><!-- //CONTAINER -->
    </section><!-- //PAGE HEADER -->


    <!-- ARTICLES BLOCK -->
    <section class="articles_block">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- ARTICLES LIST -->
          <div class="articles_list clearfix">



            <div class="respond_clear_768"></div>




            <div class="respond_clear_768 respond_clear_480">
              <article >
              <app-offer-card class="article_item col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 clearfix margbot30" *ngFor="let offer of offers" [offer]="offer" ></app-offer-card>
              </article>

            </div>


          </div><!-- //ARTICLES LIST -->
        </div><!-- //ROW -->

        <hr>

        <!-- PAGINATION -->
        <ul class="pagination clearfix">
          <li><a href="javascript:void(0);" >1</a></li>
          <li><a href="javascript:void(0);" >2</a></li>
          <li class="active"><a href="javascript:void(0);" >3</a></li>
          <li><a href="javascript:void(0);" >4</a></li>
          <li><a href="javascript:void(0);" >5</a></li>
          <li><a href="javascript:void(0);" >6</a></li>
          <li><a href="javascript:void(0);" >...</a></li>
        </ul><!-- //PAGINATION -->

        <div class="padbot30"></div>
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG BLOCK -->
</div>
